#ModalContainer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
}
#Modal{
    position: absolute;
    top: 10%;
    left: 2.5%;
    bottom: 10%;
    right: 2.5%;
    z-index: 1;
    width: 95%;
    height: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid black;
}